:root {
  /* TODO make this configurable */
  color-scheme: dark;
}

body {
  margin: 0;
}

button {
  font-size: 24px;
  margin: 10px;
  padding: 10px;
}

/* TODO move mgba-* settings to individual files */
mgba-menu > button.settings {
  display: block;
  position: absolute;
  bottom: env(safe-area-inset-bottom);
  left: 0;
}
